/javalab/nbproject/private/
/javalab/build/
/applet/nbproject/private/
/applet/build/
/proapp/nbproject/private/
/proapp/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/servlet1/nbproject/private/
/servlet1/build/
/WebApplication2/nbproject/private/
/WebApplication3/nbproject/private/